<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>VBT Power Calculator</strong>
    <p>Calculadora de 1RM y Cargas segun porcentaje basado en la velocidad del set o tus aproximaciones</p>

    <div class="button-container">
      <ion-button routerLink="/vbt" expand="block">
        <ion-icon name="calculator" slot="start"></ion-icon>
        Iniciar VBT Calculator
      </ion-button>

      <ion-button routerLink="/vbt-config" fill="outline" expand="block">
        <ion-icon name="settings" slot="start"></ion-icon>
        Configuración Personalizada
      </ion-button>
    </div>
  </div>
</ion-content>
